<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>门禁权限管理</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link href="../../script/demo.css" rel="stylesheet" type="text/css" />
        <script src="../../Scripts/boot.js" type="text/javascript"></script>
 <style>
     .my-label
     {
         padding-left: 1px;
         width: 200px;
         text-align:right;
     }
      .my-result
     {
         padding-left: 1px;
         width: 200px;
         text-align:left;
     }

     </style>
    </head>
<body> 
<style type="text/css">
    html, body{
        margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;
    }    
</style>

<div class="mini-fit" >
<!----设备信息栏--->
        <div id="AccessDetail" class="mini-panel" title="门禁权限编辑" style="width: 100%; height: 100%;" showtoolbar="true">
            <div class="mini-toolbar" style="border-bottom: 0; padding: 0px;">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 100%;">
                            <a class="mini-button" iconcls="icon-add" onclick="onModifyNode('Create')">新建权限</a>
                            <a class="mini-button" iconcls="icon-edit" onclick="onModifyNode('Modify')">编辑名称</a>
                            <a class="mini-button" iconcls="icon-add" onclick="addAccessOfAccess()">编辑权限</a>
                            <a class="mini-button" iconcls="icon-remove" onclick="onRemoveAccess()">删除</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="treegrid" class="mini-treegrid" style="width: 100%; height: 93%;" url="../AccessManage/LoadAllAccessDetail"
                showTreeIcon="true" treeColumn="taskname" idField="Id" parentField="Pid"
                resultAsTree="false" allowResize="true" >
                <div property="columns">
                    <div type="indexcolumn"></div>
                    <div name="taskname" field="NodeName" width="120" headeralign="center" allowsort="true">权限名称</div>
                    <div field="Type" width="120" headeralign="center" allowsort="true">类型</div>
                    <div header="门禁时间" headeralign="center">
                        <div property="columns" >
                            <div field="StartTime" width="90" headerAlign="center" allowSort="true" dateFormat="HH:mm:ss">开始时间</div>
                            <div field="EndTime" width="90" headerAlign="center" allowSort="true" dateFormat="HH:mm:ss">截止时间</div>
                            <div field="Monday" width="30" headerAlign="center" renderer ="onYesRenderer">星期一</div>
                            <div field="Tuesday" width="30" headerAlign="center" renderer ="onYesRenderer">星期二</div>
                            <div field="Wednesday" width="30" headerAlign="center" renderer ="onYesRenderer">星期三</div>
                            <div field="Thursday" width="30" headerAlign="center" renderer ="onYesRenderer">星期四</div>
                            <div field="Friday" width="30" headerAlign="center" renderer ="onYesRenderer">星期五</div>
                            <div field="Saturday" width="30" headerAlign="center" renderer ="onYesRenderer">星期六</div>
                            <div field="Sunday" width="30" headerAlign="center" renderer ="onYesRenderer">星期日</div>
                            <div field="Holiday" width="30" headerAlign="center" renderer ="onYesRenderer">假期</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>      


</div>
    <script type="text/javascript">
        var TREE_ID = 'accessList';
        function onYesRenderer(e) {
            if (e.value == 1) return "*";
            else return "";
        }
        //新增、修改权限
        function onModifyNode(type) {

            var tree = mini.get("#treegrid");
            if (type == "Modify")
            {
                var node = tree.getSelectedNode();
                if ((!node) || (node.Pid != "0")) {
                    alert("请选中一个根节点");
                    return;
                }
                else {
                    var titleName = "编辑名称";
                    var accessID = node.AccessDetailID;
                }
            }
            else if(type == "Create")
            {
                var titleName = "新增权限";
            }
            mini.open({
                url: "../AccessManage/ShowPage",
                title: titleName, width: 350, height: 200,
                onload: function () {
                    var iframe = this.getIFrameEl();
                    var data = { action: type, id: accessID };
                    iframe.contentWindow.Show(data);

                },
                ondestroy: function (action) {

                    if (action == "ok")     //关闭窗口时点击的是确定
                    {
                        tree.load("../AccessManage/LoadAllAccessDetail");
                    }


                }
            });

        }
        //为选中的门禁权限增加权限
        function addAccessOfAccess() {
            var tree = mini.get("#treegrid");
            var node = tree.getSelectedNode();
            if ((node)&&(node.Pid == "0")) {
                mini.open({
                    url: "../AccessManage/AccessEdit",
                    title: "新增权限", width: 1024, height: 600,
                    onload: function () {
                        var iframe = this.getIFrameEl();
                        var data = { id: node.ValueID };
                        iframe.contentWindow.Show(data);

                    },
                    ondestroy: function (action) {
                        //grid.reload();
                        tree.load("../AccessManage/LoadAllAccessDetail");
                    }
                });
            }
            else {
                alert("请选中一个根节点");
            }
        }
        //删除权限
        function onRemoveAccess(e) {
            var tree = mini.get("#treegrid");
            var node = tree.getSelectedNode();
            if ((node)&&(node._level == 0)) {
                if (confirm("确定删除选中门禁权限?")) {
                    //通过Ajax删除节点
                    //方法：removeAccess
                    var ids = Array(node.ValueID.toString());
                    var json = mini.encode(ids);   
                    $.ajax({
                        url: "../AccessManage/Delete",
                        type: 'post',
                        data: { data: json },
                        cache: false,
                        success: function (json) {
                        var Rsp = mini.decode(json);
                        if (Rsp.ErrorCode == "Success") {
                            mini.alert("删除成功！");
                            tree.load("../AccessManage/LoadAllAccessDetail");
                        }
                        else {
                            alert(text);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseText);
                    }
                    });
                }
            }
            else {
                alert("请选中一个根节点");
            }
        }
        
    </script>
        
    </body>
</html>