<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>员工面板</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link href="../../script/demo.css" rel="stylesheet" type="text/css" />
        <script src="../../Scripts/boot.js" type="text/javascript"></script>
 <style>
     .my-label
     {
         padding-left: 1px;
         width: 200px;
         text-align:right;
     }
      .my-result
     {
         padding-left: 1px;
         width: 200px;
         text-align:left;
     }
     .Hide
     {
        visibility:hidden;    
     }
     </style>
    </head>
<body> 
<style type="text/css">
    html, body{
        margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;
    }    
</style>

<div class="mini-fit" >
    <div class="mini-panel" title="设备监控" iconCls="icon-add" 
        style="width:100%;height:100%;"showToolbar="false"
        showCloseButton="false" showFooter="true">

        <!--body-->
        <div class="mini-splitter" style="width:100%;height:inherit" vertical="true">
            <div class="mini-fit">
                <div class="mini-splitter" style="width:100%;height:100%;">
                  
                    <div size="200px" showCollapseButton="true">
                        <!----设备树--->
                        <div class="mini-splitter" style="width:100%;height:100%;" handlerSize="1" vertical="true" allowResize="false">
                            <div size="70px" showCollapseButton="false" style="height:100%;">
                                <!----设备搜索--->
                                <table class="form-table" border="0" cellpadding="1" cellspacing="1" style="width:100%;height:inherit">
                                    <tr>
                                        <td class="form-label">设备编号查询：</td>
                                
                                    </tr>
                                    <tr>
                                        <td >
                                            <input name="deviceID" class="mini-textbox" />
                                        </td>
                                        <td >
                                           <a class="mini-button" onclick="onClick" >搜索</a>
                                        </td>
                                    </tr>
                                </table>             
                            </div>
                            <div showCollapseButton="false">
                                <!----设备树--->
                                <ul id="deviceTree" class="mini-tree" url="DeviceTree" style="width:inherit;padding:3px;" 
                                    showTreeIcon="true" textField="MenuName" idField="Id" parentField="Pid" resultAsTree="false">
                                </ul>
                            </div>        
                        </div>
                    </div>
                    <!----设备信息栏--->

                    <div class="mini-fit" >
                         <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
                            <table style="width:100%;">
                                <tr>
                                    <td style="width:100%;">
                                        <a class="mini-button" iconCls="icon-add" onclick="connect()">连接</a>
                                        <a class="mini-button" iconCls="icon-add" onclick="openDoor()">开门</a>
                                        <a class="mini-button" iconCls="icon-edit" onclick="closeDoor()">关门</a>
                                        <a class="mini-button" iconCls="icon-user" onclick="lockDoor()">锁门</a>
                                        <a class="mini-button" iconCls="icon-user" onclick="unlockDoor()">解锁</a>
                                        <a class="mini-button" iconCls="icon-remove" onclick="fireAlarm()">火警</a> 
                                        <a class="mini-button" iconCls="icon-remove" onclick="removeFireAlarm()">火警解除</a>  
                                        <a class="mini-button" iconCls="icon-remove" onclick="alarm()">报警</a> 
                                        <a class="mini-button" iconCls="icon-remove" onclick="removeAlarm()">报警解除</a>      
                 
                                          
                                    </td>
                                </tr>
                            </table>           
                        </div>
                        <div id ="datagrid1" class="mini-datagrid" style="width:100%;height:100%;" allowResize="true"
                            url="Load"  idField="HolidayID" multiSelect="true">
                            <div property="columns">              
                                <div field="EventTime" width="70" headerAlign="center" allowSort="true">时间    </div>    
                                <div field="CardNo" width="70" headerAlign="center" allowSort="true">卡号</div>    
                                <div field="EmployeeName" width="70" headerAlign="center" allowSort="true">姓名</div>
                                <div field="DoorID" width="70" headerAlign="center" allowSort="true">门</div>   
                                <div field="EventType" width="70" headerAlign="center" allowSort="true">事件</div>

                            </div>
                        </div> 
                    </div>
                </div>
            </div>        

            <div size="200px" showCollapseButton="true">
                 <div class="mini-panel" title="事件" iconCls="icon-add" style="width:100%;height:100%;"
                     showToolbar="false" showCloseButton="false" showFooter="true">
                     <table style="width:inherit;height:100%;">
                             <td>
                                <div id="eventCard1" class="mini-panel"
                                    title="最新事件" style="width:300px;height:150px;" 
                                   >
                                    <!---事件卡片--->
                                    <div class="mini-splitter" style="width:100%;height:100%;" vertical="false">
                                        <div size="80px" showCollapseButton="false">
                                            <img id="cardImg1"  width="80px" src="~/Test/test.jpg">
                                        </div>
                                        <div class="mini-fit">
                                            <table>
                                                <tr>
                                                    <td>事件类别：</td>
                                                    <td id="cardEventName1" data="进门">进门</td>
                                                </tr> 
                                                <tr id="cardEmployeeNamelabel1">
                                                    <td>姓名：</td>
                                                    <td id="cardEmployeeName1" data="某妹子">某妹子</td>
                                                </tr>
                                                <tr>
                                                    <td>控制器：</td>
                                                    <td id="cardDevice1" data="控制器">控制器</td>
                                                </tr>
                                                 <tr>
                                                    <td>事件时间：</td>
                                                    <td id="cardTime1" data="2014-12-5 10:00:16" >2014-12-5 10:00:16</td>
                                                </tr>                                   
                                            </table>
                                        </div>
                                    </div>
                                </div>    
                             </td>
                             <td>
                                  <div id="eventCard2" class="mini-panel Hide" 
                                    title="最新事件" style="width:300px;height:150px;"
                                    bodyStyle="padding:5;">
                                       <div class="mini-splitter" style="width:100%;height:100%;" vertical="false">
                                        <div size="80px" showCollapseButton="false">
                                            <img id="cardImg2"  width="80px" src="">
                                        </div>
                                        <div class="mini-fit">
                                            <table>
                                               
                                                <tr>
                                                    <td>事件：</td>
                                                    <td id="cardEventName2" data=""></td>
                                                </tr> 
                                                <tr id="cardEmployeeNamelabel2">
                                                    <td>姓名：</td>
                                                    <td id="cardEmployeeName2" data="">某妹子</td>
                                                </tr>
                                                <tr>
                                                    <td>控制器：</td>
                                                    <td id="cardDevice2" data=""></td>
                                                </tr>
                                                 <tr>
                                                    <td>事件时间：</td>
                                                    <td id="cardTime2" data=""></td>
                                                </tr>                                   
                                            </table>
                                        </div>
                                    </div>
                                </div>   
                             </td>
                           <td>
                                  <div id="eventCard3" class="mini-panel Hide" 
                                    title="最新事件" style="width:300px;height:150px;"
                                    bodyStyle="padding:5;">
                                       <div class="mini-splitter" style="width:100%;height:100%;" vertical="false">
                                        <div size="80px" showCollapseButton="false">
                                            <img id="cardImg3"  width="80px" src="">
                                        </div>
                                        <div class="mini-fit">
                                            <table>
                                               
                                                <tr>
                                                    <td>事件：</td>
                                                    <td id="cardEventName3 data=""></td>
                                                </tr> 
                                                <tr id="cardEmployeeNamelabel3">
                                                    <td>姓名：</td>
                                                    <td id="cardEmployeeName3" data="">某妹子</td>
                                                </tr> 
                                                <tr>
                                                    <td>控制器：</td>
                                                    <td id="cardDevice3" data=""></td>
                                                </tr>
                                                 <tr>
                                                    <td>事件时间：</td>
                                                    <td id="cardTime3" data=""></td>
                                                </tr>                                   
                                            </table>
                                        </div>
                                    </div>
                                </div>   
                             </td>
                             <td>
                                <div id="eventCard4" class="mini-panel Hide" 
                                    title="最新事件" style="width:300px;height:150px;" 
                                    bodyStyle="padding:5;">
                                     <div class="mini-splitter" style="width:100%;height:100%;" vertical="false">
                                        <div size="80px" showCollapseButton="false">
                                            <img id="cardImg4"  width="80px" src="">
                                        </div>
                                        <div class="mini-fit">
                                            <table>
                                               
                                                <tr>
                                                    <td>事件：</td>
                                                    <td id="cardEventName4" data=""></td>
                                                </tr> 
                                                <tr>
                                                    <td>姓名：</td>
                                                    <td id="cardEmployeeName4" data="">某妹子</td>
                                                </tr> 
                                                <tr>
                                                    <td>控制器：</td>
                                                    <td id="cardDevice4" data=""></td>
                                                </tr>
                                                 <tr>
                                                    <td >事件时间：</td>
                                                    <td id="cardTime4" data=""></td>
                                                </tr>                                   
                                            </table>
                                        </div>
                                    </div>
                                </div>   
                             </td>
            
                     </table>     
                 </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">

        $(function () {
            var handler = function () {
                var timerStr = new Array();　//创建一个数组
                timerStr[0] = "10";
                //event
                timerStr[1] = "1";
                //alarm
                timerStr[2] = "2";
                var json = mini.encode(timerStr);
                url = "/Monitor/GetNewEvent";
                $.ajax({
                    url: url,
                    type: 'post',
                    data: { data: json },
                    cache: false,
                    success: function (text) {
                        var result=eval('(' + text + ')');
                        update(result);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(text);
                    }
                });
            }
            var timer = setInterval(handler, 5000);
            var clear = function () {
                clearInterval(timer);
            }
        });

        function update(result) {
            var list = result.DataList;
            for (var i = 0; i < list.length; i++) {
                addEvent("~/Test/test.jpg", list[i].EventType, list[i].EmployeeName, list[i].ControlName, list[i].EventTime);
                addItem(list[i]);
            }
        }

        var cardShowNum = 1;

        function addItem(item) {
        
            var row =
           {
               'EventTime': 'asdgsadgs',        //属性名用引号括起来，属性间由逗号隔开
               'EmployeeName': 'asdgsadgs',
               'DoorID': 'asdgsadgs',
               'EventType': 'asdgsadgs',
               'CardNo': 'sdfgdsg'
           };
            mini.get("#datagrid1").addRow(item, 0);
        }

       
        function addEvent(src, eventName,employeeName ,device, time,type) {
            cardShowNum = cardShowNum + 1;
            $("#eventCard" + cardShowNum).removeClass("Hide");

            
            for (var i = 3; i >0; i--) {
                $("#cardImg" + (i+1)).attr("src",$("#cardImg" + (i)).attr("src"));
                $("#cardEventName" + (i + 1)).html($("#cardEventName" + (i)).attr("data"));
                $("#cardEventName" + (i + 1)).attr("data", $("#cardEventName" + (i)).attr("data"));
                $("#cardEmployeeName" + (i + 1)).html($("#cardEmployeeName" + (i)).attr("data"));
                $("#cardEmployeeName" + (i + 1)).attr("data",$("#cardEmployeeName" + (i)).attr("data"));
                $("#cardDevice" + (i + 1)).html($("#cardDevice" + (i)).attr("data"));
                $("#cardDevice" + (i + 1)).attr("data",$("#cardDevice" + (i)).attr("data"));
                $("#cardTime" + (i + 1)).html($("#cardTime" + (i)).attr("data"));
                $("#cardTime" + (i + 1)).attr("data",$("#cardTime" + (i)).attr("data"));
            }


            $("#cardImg1").attr("src", src);
            $("#cardEventName1").html(eventName);
            $("#cardEventName1").attr("data", eventName);
            $("#cardEmployeeName1").html(employeeName);
            $("#cardEmployeeName1").attr("data", employeeName);
            $("#cardDevice1").html(device);
            $("#cardDevice1").attr("data", device);
            $("#cardTime1").html(time);
            $("#cardTime1").attr("data", time);
        }

        mini.parse();
        var grid = mini.get("#datagrid1");
        grid.load();

        var form = new mini.Form("form1");
        labelModel();

        function labelModel() {
            var fields = form.getFields();
            for (var i = 0, l = fields.length; i < l; i++) {
                var c = fields[i];
                if (c.setReadOnly) c.setReadOnly(true);     //只读
                if (c.setIsValid) c.setIsValid(true);      //去除错误提示
                if (c.addCls) c.addCls("asLabel");          //增加asLabel外观
            }
        }

        function inputModel() {
            var fields = form.getFields();
            for (var i = 0, l = fields.length; i < l; i++) {
                var c = fields[i];
                if (c.setReadOnly) c.setReadOnly(false);
                if (c.removeCls) c.removeCls("asLabel");
            }
            mini.repaint(document.body);
        }
        

        function openDoor() {

            url = "/Monitor/OpenDoor?DoorID=9";
            $.ajax({
                url: url,
                type: 'post',
                data: "",
                cache: false,
                success: function (text) {

                    mini.alert("操作完成！");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    CloseWindow();
                }
            });
        }

        function closeDoor() {

            url = "/Monitor/CloseDoor?DoorID=9";
            $.ajax({
                url: url,
                type: 'post',
                data: "",
                cache: false,
                success: function (text) {
                    mini.alert("操作完成！");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    CloseWindow();
                }
            });
        }
        function lockDoor() {

            url = "/Monitor/Lock?ID=13";
            $.ajax({
                url: url,
                type: 'post',
                data: "",
                cache: false,
                success: function (text) {

                    if (text == "Success") {
                        mini.alert("操作成功！");
                        CloseWindow("save");
                    }
                    else {

                        alert("操作失败!");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    CloseWindow();
                }
            });
        }
        function unlockDoor() {

            url = "/Monitor/unLock?ID=13";
            $.ajax({
                url: url,
                type: 'post',
                data: "",
                cache: false,
                success: function (text) {

                    if (text == "Success") {
                        mini.alert("操作成功！");
                        CloseWindow("save");
                    }
                    else {

                        alert("操作失败!");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    CloseWindow();
                }
            });
        }
        function alarm() {

            url = "/Monitor/Alarm?ID=13";
            $.ajax({
                url: url,
                type: 'post',
                data: "",
                cache: false,
                success: function (text) {

                    if (text == "Success") {
                        mini.alert("操作成功！");
                        CloseWindow("save");
                    }
                    else {

                        alert("操作失败!");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    CloseWindow();
                }
            });
        }
        function removeAlarm() {

            url = "/Monitor/AlarmCancel?ID=13";
            $.ajax({
                url: url,
                type: 'post',
                data: "",
                cache: false,
                success: function (text) {

                    if (text == "Success") {
                        mini.alert("操作成功！");
                        CloseWindow("save");
                    }
                    else {

                        alert("操作失败!");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    CloseWindow();
                }
            });
        }
        function removeFireAlarm() {

            url = "/Monitor/FireAlarmCancel?ID=13";
            $.ajax({
                url: url,
                type: 'post',
                data: "",
                cache: false,
                success: function (text) {

                    if (text == "Success") {
                        mini.alert("操作成功！");
                        CloseWindow("save");
                    }
                    else {

                        alert("操作失败!");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    CloseWindow();
                }
            });
        }
        function fireAlarm() {

            url = "/Monitor/FireAlarm?ID=13";
            $.ajax({
                url: url,
                type: 'post',
                data: "",
                cache: false,
                success: function (text) {

                    if (text == "Success") {
                        mini.alert("操作成功！");
                        CloseWindow("save");
                    }
                    else {

                        alert("操作失败!");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    CloseWindow();
                }
            });
        }
    </script>
        
    </body>
</html>