<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>员工面板</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link href="../../script/demo.css" rel="stylesheet" type="text/css" />
        <script src="../../Scripts/boot.js" type="text/javascript"></script>
 <style>
     .my-label
     {
         padding-left: 1px;
         width: 200px;
         text-align:right;
     }
      .my-result
     {
         padding-left: 1px;
         width: 200px;
         text-align:left;
     }
     .Hide
     {
        visibility:hidden;    
     }
     </style>
    </head>
<body> 
<style type="text/css">
    html, body{
        margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;
    }    
</style>

<div class="mini-fit" >
    <div class="mini-panel" title="设备监控" iconCls="icon-add" 
        style="width:100%;height:100%;"showToolbar="false"
        showCloseButton="false" showFooter="true">

        <!--body-->
        <div class="mini-splitter" style="width:100%;height:inherit" vertical="true">
            <div class="mini-fit">
                <div class="mini-splitter" style="width:100%;height:100%;">
                  
                    <div size="200px" showCollapseButton="true">
                        <!----设备树--->
                        <div class="mini-splitter" style="width:100%;height:100%;" handlerSize="1" vertical="true" allowResize="false">
                            <div size="70px" showCollapseButton="false" style="height:100%;">
                                <!----设备搜索--->
                                <table class="form-table" border="0" cellpadding="1" cellspacing="1" style="width:100%;height:inherit">
                                    <tr>
                                        <td class="form-label">设备编号查询：</td>
                                
                                    </tr>
                                    <tr>
                                        <td >
                                            <input name="deviceID" class="mini-textbox" />
                                        </td>
                                        <td >
                                           <a class="mini-button" onclick="onClick" >搜索</a>
                                        </td>
                                    </tr>
                                </table>             
                            </div>
                            <div showCollapseButton="false">
                                <!----设备树--->
                                <ul id="deviceTree" class="mini-tree" url="../DeviceManage/LoadTree" style="width:inherit;padding:3px;" 
                                    showTreeIcon="true" onNodeClick="onNodeClick()" textField="MenuName" idField="Id" parentField="Pid" resultAsTree="false">
                                </ul>
                            </div>        
                        </div>
                    </div>
                    <!----设备信息栏--->

                    <div class="mini-fit" >
                         <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
                            <table style="width:100%;">
                                <tr>
                                    <td style="width:100%;">

                                        <a class="mini-button" iconCls="icon-ok" onclick="OperateDevice('1')">开门</a>
                                        <a class="mini-button" iconCls="icon-remove" onclick="OperateDevice('2')">关门</a>
                                        <a class="mini-button" iconCls="icon-lock" onclick="OperateDevice('3')">锁门</a>
                                        <a class="mini-button" iconCls="icon-unlock" onclick="OperateDevice('4')">解锁</a>
                                        <a class="mini-button" iconCls="icon-no" onclick="OperateDevice('5')">火警</a> 
                                        <a class="mini-button" iconCls="icon-undo" onclick="OperateDevice('6')">火警解除</a>  
                                        <a class="mini-button" iconCls="icon-no" onclick="OperateDevice('7')">报警</a> 
                                        <a class="mini-button" iconCls="icon-undo" onclick="OperateDevice('8')">报警解除</a>      
                                    </td>
                                </tr>
                            </table>           
                        </div>
                        <div id ="datagrid1" class="mini-datagrid" style="width:100%;height:100%;" allowResize="true"
                            idField="HolidayID" multiSelect="true">
                            <div property="columns">              
                                <div field="EventTime" width="70" headerAlign="center" allowSort="true">时间    </div>    
                                <div field="CardNo" width="70" headerAlign="center" allowSort="true">卡号</div>    
                                <div field="EmployeeName" width="70" headerAlign="center" allowSort="true">姓名</div>
                                <div field="DoorID" width="70" headerAlign="center" allowSort="true">门</div>   
                                <div field="EventType" width="70" headerAlign="center" allowSort="true">事件</div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>        

            <div size="200px" showCollapseButton="true">
                 <div class="mini-panel" title="事件" iconCls="icon-add" style="width:100%;height:100%;"
                     showToolbar="false" showCloseButton="false" showFooter="true">
                     <table style="width:inherit;height:100%;">
                             <td>
                                <div id="eventCard1" class="mini-panel Hide"
                                    title="最新事件" style="width:300px;height:150px;" 
                                   >
                                    <!---事件卡片--->
                                    <div class="mini-splitter" style="width:100%;height:100%;" vertical="false">
                                        <div size="80px" showCollapseButton="false">
                                            <img id="cardImg1"  width="80px" src="">
                                        </div>
                                        <div class="mini-fit">
                                            <table>
                                                <tr>
                                                    <td>事件类别：</td>
                                                    <td id="cardEventName1" data=""></td>
                                                </tr> 
                                                <tr id="cardEmployeeNamelabel1">
                                                    <td>姓名：</td>
                                                    <td id="cardEmployeeName1" data=""></td>
                                                </tr>
                                                <tr>
                                                    <td>控制器：</td>
                                                    <td id="cardDevice1" data=""></td>
                                                </tr>
                                                 <tr>
                                                    <td>事件时间：</td>
                                                    <td id="cardTime1" data="" ></td>
                                                </tr>                                   
                                            </table>
                                        </div>
                                    </div>
                                </div>    
                             </td>
                             <td>
                                  <div id="eventCard2" class="mini-panel Hide" 
                                    title="最新事件" style="width:300px;height:150px;"
                                    bodyStyle="padding:5;">
                                       <div class="mini-splitter" style="width:100%;height:100%;" vertical="false">
                                        <div size="80px" showCollapseButton="false">
                                            <img id="cardImg2"  width="80px" src="">
                                        </div>
                                        <div class="mini-fit">
                                            <table>
                                               
                                                <tr>
                                                    <td>事件：</td>
                                                    <td id="cardEventName2" data=""></td>
                                                </tr> 
                                                <tr id="cardEmployeeNamelabel2">
                                                    <td>姓名：</td>
                                                    <td id="cardEmployeeName2" data=""></td>
                                                </tr>
                                                <tr>
                                                    <td>控制器：</td>
                                                    <td id="cardDevice2" data=""></td>
                                                </tr>
                                                 <tr>
                                                    <td>事件时间：</td>
                                                    <td id="cardTime2" data=""></td>
                                                </tr>                                   
                                            </table>
                                        </div>
                                    </div>
                                </div>   
                             </td>
                           <td>
                                  <div id="eventCard3" class="mini-panel Hide" 
                                    title="最新事件" style="width:300px;height:150px;"
                                    bodyStyle="padding:5;">
                                       <div class="mini-splitter" style="width:100%;height:100%;" vertical="false">
                                        <div size="80px" showCollapseButton="false">
                                            <img id="cardImg3"  width="80px" src="">
                                        </div>
                                        <div class="mini-fit">
                                            <table>
                                               
                                                <tr>
                                                    <td>事件：</td>
                                                    <td id="cardEventName3" data=""></td>
                                                </tr> 
                                                <tr id="cardEmployeeNamelabel3">
                                                    <td>姓名：</td>
                                                    <td id="cardEmployeeName3" data=""></td>
                                                </tr> 
                                                <tr>
                                                    <td>控制器：</td>
                                                    <td id="cardDevice3" data=""></td>
                                                </tr>
                                                 <tr>
                                                    <td>事件时间：</td>
                                                    <td id="cardTime3" data=""></td>
                                                </tr>                                   
                                            </table>
                                        </div>
                                    </div>
                                </div>   
                             </td>
                             <td>
                                <div id="eventCard4" class="mini-panel Hide" 
                                    title="最新事件" style="width:300px;height:150px;" 
                                    bodyStyle="padding:5;">
                                     <div class="mini-splitter" style="width:100%;height:100%;" vertical="false">
                                        <div size="80px" showCollapseButton="false">
                                            <img id="cardImg4"  width="80px" src="">
                                        </div>
                                        <div class="mini-fit">
                                            <table>
                                               
                                                <tr>
                                                    <td>事件：</td>
                                                    <td id="cardEventName4" data=""></td>
                                                </tr> 
                                                <tr>
                                                    <td>姓名：</td>
                                                    <td id="cardEmployeeName4" data=""></td>
                                                </tr> 
                                                <tr>
                                                    <td>控制器：</td>
                                                    <td id="cardDevice4" data=""></td>
                                                </tr>
                                                 <tr>
                                                    <td >事件时间：</td>
                                                    <td id="cardTime4" data=""></td>
                                                </tr>                                   
                                            </table>
                                        </div>
                                    </div>
                                </div>   
                             </td>
            
                     </table>     
                 </div>
            </div>
        </div>
    </div>
</div>



    <script type="text/javascript">
    //全局变量
        var cardShowNum = 0;    //当前显示的事件卡片数量
        var doorID = 0;        //当前选中的门ID
        var eventIndex = 0;   //事件最新编号
        var alarmIndex = 0;   //报警最新编号
        var clock = 5000;       //定时器更新间隔

    //设备树控制
        //节点选择
        function onNodeClick(event){
            var tree = mini.get("#deviceTree");
            node = tree.getSelectedNode();
            node = tree.getSelectedNode();

            if ((node) && (node._level == 0)) {
                resetMonitor();
            }
            if ((node) && (node._level == 1)) {
                resetMonitor();
            }
            if ((node) && (node._level == 2)) {
                var id = node.Id.replace("D_", "");              
                if (id != doorID) {                   
                    resetMonitor();
                    doorID = id;
                }
            }
        }

    //事物刷新方法
        function update(result) {
            var list = result.DataList;
            if (list.length > 0) {
                for (var i = 0; i < list.length; i++) {                   
                    addEvent(list[i].Img, list[i].EventType, list[i].EmployeeName, list[i].ControlName, list[i].EventTime);
                    addItem(list[i]);
                }
                eventIndex = result.EventIndex;
                alarmIndex = result.AlarmIndex;
            }
        }

        //监控器初始化
        function resetMonitor() {
            doorID = 0;
            eventIndex = 0;   //更新事件编号
            alarmIndex = 0;   //更新事件编号
            cardShowNum = 0;
            mini.get("#datagrid1").clearRows();
            for (var i = 0; i < 4; i++) {
                $("#eventCard" + (i+1)).addClass("Hide");
            }
        }
       

    //定时器
        $(function () {
            var handler = function () {
                //没有选中则不开始监控
                if (doorID != "") {
                    var timerStr = new Array();　//Json 字符串数组

                    timerStr[0] = doorID;
                    //event
                    timerStr[1] = eventIndex;
                    //alarm
                    timerStr[2] = alarmIndex;
                    var json = mini.encode(timerStr);
                    url = "/Monitor/GetNewEvent";
                    $.ajax({
                        url: url,
                        type: 'post',
                        data: { data: json },
                        cache: false,
                        success: function (text) {
                            var result = eval('(' + text + ')');
                            //调用更新方法
                            update(result);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(text);
                        }
                    });
                }
            }
    
            var timer = setInterval(handler, clock);
            var clear = function () {
                clearInterval(timer);
            }
        });

      
    //事件过程
       
        // 表格增加节点
        function addItem(item) {
            var row =
           {
               'EventTime': 'asdgsadgs',        //属性名用引号括起来，属性间由逗号隔开
               'EmployeeName': 'asdgsadgs',
               'DoorID': 'asdgsadgs',
               'EventType': 'asdgsadgs',
               'CardNo': 'sdfgdsg'
           };
            mini.get("#datagrid1").addRow(item, 0);
        }
       //增加事件
        function addEvent(src, eventName, employeeName, device, time, type) {
       
            cardShowNum = cardShowNum + 1;
            $("#eventCard" + cardShowNum).removeClass("Hide");
            for (var i = 3; i >0; i--) {
                $("#cardImg" + (i+1)).attr("src",$("#cardImg" + (i)).attr("src"));
                $("#cardEventName" + (i + 1)).html($("#cardEventName" + (i)).attr("data"));
                $("#cardEventName" + (i + 1)).attr("data", $("#cardEventName" + (i)).attr("data"));
                $("#cardEmployeeName" + (i + 1)).html($("#cardEmployeeName" + (i)).attr("data"));
                $("#cardEmployeeName" + (i + 1)).attr("data",$("#cardEmployeeName" + (i)).attr("data"));
                $("#cardDevice" + (i + 1)).html($("#cardDevice" + (i)).attr("data"));
                $("#cardDevice" + (i + 1)).attr("data",$("#cardDevice" + (i)).attr("data"));
                $("#cardTime" + (i + 1)).html($("#cardTime" + (i)).attr("data"));
                $("#cardTime" + (i + 1)).attr("data",$("#cardTime" + (i)).attr("data"));
            }
            $("#cardImg1").attr("src", src);
            $("#cardEventName1").html(eventName);
            $("#cardEventName1").attr("data", eventName);
            $("#cardEmployeeName1").html(employeeName);
            $("#cardEmployeeName1").attr("data", employeeName);
            $("#cardDevice1").html(device);
            $("#cardDevice1").attr("data", device);
            $("#cardTime1").html(time);
            $("#cardTime1").attr("data", time);
        }

        //miniUI 初始化
        mini.parse();
        var grid = mini.get("#datagrid1");

        //操作处理
        function OperateDevice(cmd) {
           
            if (doorID == 0) {
                alert('请选择一个门');
            } else {
                var url = "/Monitor/OperateDevice?DoorID=" + doorID + "&cmdCode=" + cmd;
                $.ajax({
                    url: url,
                    type: 'post',
                    data: "",
                    cache: false,
                    success: function (text) {
                        mini.alert("操作完成！");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseText);
                        CloseWindow();
                    }
                });
            }
      
   
        }
    </script>
   
    </body>
</html>