   
    <div id="form1" style =" width:100%;height:100%;" >
        <input name="id" class="mini-hidden" />
        <table>
            
            <tr>
                <td>
                    <label for="ControlID$text">控制器编号：</label>
                </td>
                <td>
                    <input id="ControlID"  name="ControlID" class="mini-textbox" />
                </td>
            </tr>
             <tr>
                <td>
                    <label >连接号：</label>
                </td>
                <td>
                    <input name="NetID" class="mini-textbox" />
                </td>
            </tr>
            <tr>
                <td>
                    <label >控制器名称：</label>
                </td>
                <td>
                    <input name="ControlName" class="mini-textbox" />
                </td>
            </tr>
            <tr>
                <td>
                    <label >控制器类型：</label>
                </td>
                <td>
                    <input name="Type" class="mini-textbox" />
                </td>
            </tr>  
            <tr>
                <td>
                    <label >控制器状态：</label>
                </td>
                <td>
                    <input name="Enable" class="mini-textbox" />
                </td>
            </tr>
            <tr>
                <td>
                    <label >控制器地址：</label>
                </td>
                <td>
                    <input name="Address" class="mini-textbox" />
                </td>
            </tr>
            <tr>
                <td>
                    <label >控制器IP：</label>
                </td>
                <td>
                    <input name="Ip" class="mini-textbox" />
                </td>
            </tr>
            <tr>
                <td>
                    <label >通讯端口：</label>
                </td>
                <td>
                    <input name="Port" class="mini-textbox" />
                </td>
            </tr>
        </table>
    </div>
