<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>新增门禁权限</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="../../script/demo.css" rel="stylesheet" type="text/css" />
    <script src="../../scripts/boot.js" type="text/javascript"></script>
</head>
<body>
<style type="text/css">
    html, body{
        margin:0px;padding:0;border:0;width:100%;height:100%;overflow:hidden;
    }    
</style>
<div class="mini-fit" >
    <div class="mini-panel" title="部门管理" style="width:100%;height:100%;" showToolbar="true">
         <!--toolbar-->
        <div property="toolbar">
                              <a class="mini-button" iconCls="icon-addfolder" onclick="onEditNode('Add')" plain="true">增加</a>
                    <a class="mini-button" iconCls="icon-edit" onclick="onEditNode('Edit')" plain="true">修改</a>
                    <a class="mini-button" iconCls="icon-remove" onclick="onRemoveNode()" plain="true">删除</a>
        </div>                  
        <!--body-->
            <ul id="tree1" class="mini-tree" url="../DeptManage/LoadTree" style="width:100%;height:100%;padding:0px;" 
                    showTreeIcon="true" textField="text" idField="id" parentField="pid" resultAsTree="false"  
                    allowDrag="true" allowDrop="true" 
                    >
             </ul>
    </div>

</div>
     <!--<div class="mini-panel" title="部门管理" iconCls="icon-add" style="width:95%;height:80%;" 
        showToolbar="true" showCollapseButton="true" showFooter="true">
        <div property="toolbar" >
            <input type="button" value="插入子部门" onclick="onEditNode('Add')" style='vertical-align:middle;'/>      
            <input type="button" value="编辑部门" onclick="onEditNode('Edit')" style='vertical-align:middle;'/>
            <input type="button" value="删除部门" onclick="onRemoveNode()" style='vertical-align:middle;'/>
        </div>
        <div style="margin-left: 30px;">
            <ul id="tree1" class="mini-tree" url="../DeptManage/LoadTree" style="width:200px;padding:5px;" 
                showTreeIcon="true" textField="text" idField="id" parentField="pid" resultAsTree="false"  
                allowDrag="true" allowDrop="true" 
                >
            </ul>
        </div>
    </div>-->
  
    <script type="text/javascript">

        function onEditNode(type) {
            var tree = mini.get("tree1");
            var node = tree.getSelectedNode();
            var value = tree.getValue();
            if (node) {
                if (type == "Edit") {
                    var titleName = "编辑部门";
                }
                else if (type == "Add") {
                    var titleName = "新增部门";
                }
                mini.open({
                    url: "../DeptManage/DeptEdit",
                    title: titleName, width: 350, height: 350,
                    onload: function () {
                        var iframe = this.getIFrameEl();
                        var data = { action: type, id: value };
                        iframe.contentWindow.Show(data);

                    },
                    ondestroy: function (action) {

                        if (action == "ok")     //关闭窗口时点击的是确定
                        {
                            var iframe = this.getIFrameEl();
                            var data = iframe.contentWindow.GetData();
                            data = mini.clone(data);

                            if (type == "Add") {
                                var newNode = { text: data.DeptName };
                                tree.addNode(newNode, "add", node);
                            }
                            else if (type == "Edit") {
                                tree.updateNode(node, { text: data.DeptName });
                                //tree.load("../DeptManage/LoadTree");
                            }
                        }


                    }
                });
            }
            else {
                alert("请选中一个节点");
            }
        }
        function onRemoveNode(e) {
            var tree = mini.get("tree1");
            var value = tree.getValue();
            var node = tree.getSelectedNode();
            
            if (node) {
                if (confirm("确定删除选中节点?")) {

                    $.ajax({
                        url: "../DeptManage/DeleteDept",
                        type: 'post',
                        data: { data: value },
                        cache: false,
                        success: function (text) {

                            if (text == "Success") {
                                mini.alert("删除成功！");
                                tree.removeNode(node);
                            }
                            else {
                                alert(text);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(jqXHR.responseText);
                        }
                    });
                }
            }
            else {
                alert("请选中一个节点");
            }
        }

    </script>
</body>
</html>