<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>员工面板</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
    <script src="../../Scripts/boot.js" type="text/javascript"></script>

    <style type="text/css">
    html, body
    {
        font-size:12px;
        padding:0;
        margin:0;
        border:0;
        height:100%;
        overflow:hidden;
    }
    </style>
</head>
<body> 
    <form id="deptForm" method="post">
        
            <div style="margin-top:20px;margin-bottom:20px;margin-left:70px;">
                <table style="table-layout:fixed;">
                <tr style ="height:35px">
                    <td style="width:90px;">上级部门：</td>
                    <td style="width:150px;">
                        <input name="FatherDeptName" class="mini-textbox" readonly="readonly" value=""/>
                        <input name="FatherDeptID" class="mini-textbox" style="display:none" value=""/>
                    </td>
                    
                </tr>
                <tr style ="height:35px">
                    <td >部门名称：</td>
                    <td >    
                        <input name="DeptName" class="mini-textbox" value=""/>
                        <input name="DeptID" class="mini-textbox" style="display:none" value=""/>
                    </td>
                </tr>
                <tr style ="height:35px">
                    
                    <td >部门编号：</td>
                    <td >    
                        <input name ="DeptCode" class="mini-textbox" value=""/>
                    </td>
                </tr>
                <tr style ="height:35px">
                    <td >备注：</td>
                    <td >    
                        <input name ="Note" class="mini-textbox" value=""/>
                    </td>
                    
                </tr>            
            </table>
            </div>    

                  
        <div style="text-align:center;padding:5px;">
            <a id="AddDept" class="mini-button"  onclick="onAddOk" style="width:60px;margin-right:20px;">确定</a>               
            <a id="EditDept" class="mini-button" onclick="onEditOk" style="width:60px;margin-right:20px;">确定</a>       
            <a class="mini-button" onclick="onCancel" style="width:60px;">取消</a>       
        </div>  
    </form>
    <script type="text/javascript">
        mini.parse();

        var form = new mini.Form("#deptForm");

        ////////////////////
        //加载窗口信息
        function Show(data) {
            //跨页面传递的数据对象，克隆后才可以安全使用
            receiveData = mini.clone(data);
         
            if (receiveData.action == "Edit") {
              
                $("#AddDept").attr('style', 'display:none');
                var showUrl = "../DeptManage/Show?data=" + data.id;
            }
            else if (receiveData.action == "Add") {
              
                $("#EditDept").attr('style', 'display:none');
                var showUrl = "../DeptManage/Show?data=" + "";
            }
            else
            {
            }
         
            $.ajax({
                url: showUrl,
                cache: false,
                success: function (json) {
                    var Rsp = mini.decode(json);
 
                    if (receiveData.action == "Add") {
                        Rsp.Obj.FatherDeptName = data.DeptName;
                    }
                    else {
                        Rsp.Obj.FatherDeptName = data.FatherDeptName;
                    }
                    Rsp.Obj.FatherDeptID = data.id;
 
                    form.setData(Rsp.Obj);
                    
                    
                    
                }
            });
        }
        //加入部门
        function onAddOk() {
            var o = form.getData();
            form.validate();
            if (form.isValid() == false) return;
            var json = mini.encode(o);
            $.ajax({
                url: "../DeptManage/Create",
                type: 'post',
                data: { data: json },
                cache: false,
                success: function (json) {
                    var Rsp = mini.decode(json);
                    if (Rsp.ErrorCode == "Success")
                    {
                        CloseWindow("ok");
                    }
                    else {
                        alert(Rsp.Message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    CloseWindow();
                }
            });
        }
        //编辑部门
        function onEditOk() {
            var o = form.getData();
            form.validate();
            if (form.isValid() == false) return;
            var json = mini.encode(o);
            $.ajax({
                url: "../DeptManage/Modify",
                type: 'post',
                data: { data: json },
                cache: false,
                success: function (json) {

                    var Rsp = mini.decode(json);
                    if (Rsp.ErrorCode == "Success") {
                        CloseWindow("ok");
                    }
                    else {
                        alert(Rsp.Message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                    CloseWindow();
                }
            });
        }
        function GetData() {
            var o = form.getData();
            return o;
        }
        function CloseWindow(action) {
            if (action == "close" && form.isChanged()) {
                if (confirm("数据被修改了，是否先保存？")) {
                    return false;
                }
            }
            if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
            else window.close();
        }
        function onCancel(e) {
            CloseWindow("cancel");
        }
    </script>
</body>
</html>