<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link href="../../Scripts/demo.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/boot.js" type="text/javascript"></script>
    
        
    <style type="text/css">
    html,body
    {
        padding:0;
        margin:0;
        border:0;     
        width:100%;
        height:100%;
        overflow:hidden;   
    }
    </style>
</head>
<body>
    <div class="mini-fit">
        
        <ul id="tree1" class="mini-tree" style="width:100%;height:100%;" url="../UserManage/MenuPrivilegeTree?userID=@ViewBag.userID" 
            showTreeIcon="true" textField="text" idField="id" parentField="pid" resultAsTree="false"  
            showCheckBox="true" checkRecursive="true"
            expandOnLoad="true" allowSelect="false" enableHotTrack="false" 
            >
        </ul>
    
    </div>                
    <div class="mini-toolbar" style="text-align:center;padding-top:8px;padding-bottom:8px;" 
        borderStyle="border-left:0;border-bottom:0;border-right:0;">
        <a class="mini-button" style="width:60px;" onclick="onOk()">确定</a>
        <span style="display:inline-block;width:25px;"></span>
        <a class="mini-button" style="width:60px;" onclick="onCancel()">取消</a>
    </div>

</body>
</html>
<script type="text/javascript">
    mini.parse();
    var tree = mini.get("tree1");

    function onOk() {

        var value = tree.getValue();

        $.ajax({
            url: "../UserManage/MenuEdit",
            type: 'post',
            data: { data: value },
            cache: false,
            success: function (text) {

                if (text == "Success") {
                    mini.alert("修改成功！");
                    CloseWindow("ok");
                }
                else {
                    alert(text);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    }
    //////////////////////////////////
    function CloseWindow(action) {
        if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
        else window.close();
    }
    function onCancel() {
        CloseWindow("cancel");
    }
</script>